
/*header stuff. Text and the background*/

* {
 box-sizing: border-box;
 /*border: 1px solid black;*/
}

header{
	position: static;
	width: auto;
	height: 572px;
	background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: -38px;
  margin-right: 0px;
  margin-top: 190px;
  font-size: 110px;
}

.div3{
  padding-top: 30px
}

h3{
	text-align: center;
	color: #052E47;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 19px;
  margin-left: -55px;
}


/*pictures!*/


.logopic{
	float:left;
	margin-left: 110px;
	margin-top: -10px;
}

.searchiconpic{
	float: right;
	margin-right: 150px;
	margin-top: 8px;
}

.tspan{
  height: 50px;
  margin-top: 10px;
  margin-left: 25px;
}

.about{
  text-align: right;
  font: 'Oswald', sans-serif;
}

.search{
  font: 'Oswald', sans-serif;
}

.headleft{
  float: left;
  margin-top: 25px;
}


.headleft span{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin-left: 30px
}


.headright{
  float: right;
  margin-top: 25px;
  margin-left: 80px;
  /*font: 'Oswald', sans-serif;*/
}

.headright span{
  margin-left: 25px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

/*end of header stuff*/

/*all encompassing middle space format*/

.midder{
  height: 1024px;
  clear: both;
}


/* Middle Text*/

section{
  width: 65%;
  float: left;
}

h2{
 font-family: 'Oswald', sans-serif;
  color: #083452;
  font-size: 78px;
}

.blockquote{
  font: 'Oswald', sans-serif;
}

.p1{
margin-top: 40px;
text-align: left;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
color: #545F66;
}

.p2{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #545F66;
}

.p3{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #545F66;
}

.p4{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #545F66;
}

blockquote{
  font: 'Open Sans', sans-serif;
  font-size: 29px;
  color: #0D6BB2;
}

.border{
  border-left: 2px solid #CBCBCB;
  height: 44px;
}

.middletext{
  margin-left: 100px;
  margin-right: 200px;
}

/* Middle pics*/

aside{
  clear: both;
  width: 35%;
  float: right;
}

.paddlechick{
  float: right;
  margin-right: 150px;
  margin-top: 100px;
}

.topaside {
  margin: 0 auto;
  height: auto;
}

.avatar1 {
   margin-left: 31%;
   margin-top: 69px;
}


.pics{
position: relative;
width: 25%;
height: auto;
display: inline-block;
float: left;
}

/*MOST POPULAR POSTS*/

.poppost{
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  color: #083452;
  text-align: center;
}







