
/*header stuff. Text and the background*/


// fonts
$osFont: 'Oswald', sans-serif;
$ubuFont: 'Ubuntu', sans-serif;
$openFont: 'Open Sans', sans-serif;


//font sizes
$paraSize: 17px;

// colors
$paraColor: #545F66;
$titleColor: #003253;
$navcColor: #9EAEBC;

//border color
$bordColor: #E3E8EB;
$hovColor: #106DB3;


// mixin stuff

@mixin headStuff(){
  position: static;
  width: auto;
  height: 572px;
  background-image: url("images/header.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

@mixin paraStuff(){
text-align: left;
font-family: $openFont;
font-size: $paraSize;
color: $paraColor;
line-height: 25px;
font-weight: 500;
}

@mixin navStuff(){
  color: $navcColor;
  text-decoration: none;
  font-weight: 200;
  font-size: 14px;
  border-right: 1px solid $bordColor;
  padding-right: 5px;
}

@mixin hovStuff(){
    position: absolute;
    background-color: $hovColor;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content:"";
}

* {
 box-sizing: border-box;
 /*border: 1px solid black;*/
}

.container{
  width: 1439px;
}

header{
@include headStuff();


  h1{
  font-family: $ubuFont;
  color: white;
  text-align: center;
  margin-bottom: -38px;
  margin-right: 0px;
  margin-top: 190px;
  font-size: 110px;
  }

  .div3{
  padding-top: 30px
  }

  h3{
	text-align: center;
	color: #052E47;
  font-family: $ubuFont;
  font-weight: 300;
  font-size: 19px;
  margin-left: -30px;
  padding-top: 15;
  }
}

/*pictures!*/


.logopic{
  float: left;
  margin-left: 159px;
  margin-top: -14px;
  height: 50;
}

.searchiconpic{
  float: right;
  margin-right: 150px;
  margin-top: 5px;
  margin-left: 3px;
  height: 19;
}

.tspan{
  height: 50px;
  margin-top: 10px;
  margin-left: 25px;
}

.about{
  text-align: right;
  font: $osFont;
}

.search{
  font: $osFont;
}

.headleft{
  float: left;
  margin-top: 25px;
}


.headleft span{
  font-family: $ubuFont;
  font-weight: 400;
  margin-left: 18px;
  font-size: 19;
}



.headright{
  float: right;
  margin-top: 17px;
  margin-left: 78px;
  margin-right: 43px;
}

.headright span{
  margin-left: 15px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: $osFont;
}

/*end of header stuff*/

/*all encompassing middle space format*/

.midder{
  height: 1024px;
  clear: both;
  border-bottom: 1px: $bordColor;
}


/* Middle Text*/

section{
  width: 60%;
  float: left;
  margin-left: 75;
}

h2{
 font-family: $osFont;
  color: $titleColor;
  font-size: 74px;
  line-height: 1;
}


.smallname{
  display: inline;
  margin-left: 20px;
}

.arg{
  margin-left: 40px;
  margin-top: -62;
}

.lilanne{
  display: inline-block;
  color: #005DAB;
  padding-right: 15px;
  font-family: $openFont;
  padding-top: 7px;
}

.date{
  color:#9DAEBA;
  font-family: $openFont;
}

.blockquote{
  font: $osFont;
}

.p1{
@include paraStuff


  .p2{
 @include paraStuff
  }


  .p3{
 @include paraStuff
  }

  .p4{
 @include paraStuff
  padding-bottom: 15px;
  }
}

.border{
  border-left: 2px solid #CBCBCB;
  height: 44px;
}

.woah{
  font-family: $openFont;
  font-size: 27px;
  color: $titleColor;
}
.annebig{
  font: $openFont;
  font-size: 17px;
  color: #0D6BB2;
  text-align: center;
  margin-left: 65px;
}


.twit{
  font-family: $openFont;
  font-size:  15px;
  border-right: 1px solid #FAFAFA;
  color:  #98AAB7;
  padding-right: 10;
  margin-left: 25px;
  text-decoration: none;
}

.inst{
  font-family: $openFont;
  font-size:  15px;
  color:  #98AAB7;
  padding-left: 10;
  text-decoration: none;
}

.face{
  font-family: $openFont;
  font-size:  15px;
  color:  #98AAB7;
  padding-right: 10;
  border-right: 1px solid #FAFAFA;
  padding-left: 10px;
  text-decoration: none;
}



.icons .icon {
  background-color: #93a4b2;
  font-size: 0.8em;
  display: inline-block;
  margin-right: 8px;
}

.icons .icon a {
  color: white;
  text-decoration: none;
  padding: 6px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 4px;
  display: inline-block;
  margin-right: 15px;
}

.icons .icon:before {
  content: "";
  background-color: #485158;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 28px;
  width: 28px;
  vertical-align: middle;
  padding: 6px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-right: 4px;
}

.icons .icon.comments:before {
  background-image: url("https://raw.githubusercontent.com/tiy-atl-js-q2-2015/Assignments/master/Assignment%2003%20*/assets/icon-comment.png");
}
.icons .icon.later:before {
  background-image: url("https://raw.githubusercontent.com/tiy-atl-js-q2-2015/Assignments/master/Assignment%2003%20*/assets/icon-upload.png");
}
.icons .icon.share:before {
  background-image: url("https://raw.githubusercontent.com/tiy-atl-js-q2-2015/Assignments/master/Assignment%2003%20*/assets/icon-share.png");
}


.icons .icon:hover {
  background-color: #1259a7;
}

.icons .icons:hover:before {
  background-color: #17354e;
}




.middletext{
  margin-left: 100px;
  margin-right: 200px;
}

/*middle-right text below surferchick*/

h5{
 font-size: 21px;
  text-align: left;
  color: $titleColor;
  padding-top: 1px;
  margin-top: 50px;
  font-family: $osFont;
  margin-left: -2px;
}

.sidetext{
  font-size: 15px;
  font-family: $openFont;
  color: #AFBDC8;
  line-height: 25px;
  margin-right: 170px;
}



/* Middle pics*/

aside{
  clear: both;
  width: 40%;
  height: 500px;
  float: right;
  padding-left: 105px;
}

.annesmall{
  height: 30px;
  margin-top: -60px;
}

.paddlechick{
  float: left;
  margin-right: 150px;
  margin-top: 75px;
  width: 304px;
  height: 330px;
}


.imgtext{
  text-align: right;
  width: 283px;
  margin-right: 40px;
}

.ata{
  text-align: right;
  color: #AAB9C4;
  margin-right: -21px;
}

.topaside {
  margin: 0 auto;
  height: auto;
  margin-bottom: -94px;
  margin-right: -308px;
}

.avatar1 {
  margin-left: 12%;
  margin-top: 95px;
  margin-bottom: 19px;
}

.annie{
margin-left: 15px;
}


/*MOST POPULAR POSTS*/

.poppost{
  font-family: $osFont;
  font-size: 75px;
  color: $titleColor;
  text-align: center;
  border-top: 1px solid $bordColor;
  padding-top: 48px;
  margin-top: 0px;
}

.bcont{
    display: block;
    float: left;
    width: 100%;
    /*position: absolute;*/
}
.btm-caps{
    font-family: $osFont;
    font-size: 2em;
    color: #083452 ;
    position: absolute;
    left: 15;
    bottom: 7;
}


.pics{
    width: 25%;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;

  .pics::after{
    opacity: .4;
    @include hovStuff;
  }


  .pics:hover::after{
    opacity: 0;
   @include hovStuff;
  }
}

.btmpic{
  width: 100%;
}

.pics:hover .btm-caps{
    color: white;


/*footer stuff*/


footer{
  clear: both;
  height: 108;
  background-color: #083452;
  padding-top: 0;
  margin-top: 0;
}

.yard{
   margin-top: 30;
  margin-left: 180px;
}

.tiy{
color: #AEBCC6;
font-weight: 300;
font-size: 14px;
}


.tiy span{
  margin-top:15px
}

.tiys{
  margin-top: -21px;
  margin-left: 240px;
}

.nav{
  text-decoration: none;
  color: white;
  margin-left: 660px;
  margin-top: -13;



  .no1{
  @include navStuff()


    .no2{
    @include navStuff()
    padding-left:5px;
    } 

    .no3{
    @include navStuff()
    padding-left: 5px;
    }

    .no4{
    @include navStuff()
    padding-left: 5px;
    }
  }
}
