/*header stuff. Text and the background*/

* {
 box-sizing: border-box;
 border: 1px solid red;
}

header{
	position: static;
	width: auto;
	height: 572px;
	background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	color: white;
	text-align: center;
	margin-bottom: -38px;
	margin-right: 60px;
  margin-top: 190px;
	font-size: 120px;
}

h3{
	text-align: center;
	color: #052E47;
}


/*pictures!*/

header{
}

.logopic{
	float:left;
	margin-left: 110px;
	margin-top: -10px;
}

.searchiconpic{
	float: right;
	margin-right: 150px;
	margin-top: 0px;
}

.tspan{
  height: 50px;
  margin-top: 10px;
  margin-left: 25px;
}

.about{
  text-align: right;
  /*font: 'Oswald', sans-serif;*/
}

.search{
  /*font: 'Oswald', sans-serif;*/
}

.headleft{
  float: left;
  margin-top: 25px;
}


.headleft span{
  font-family: 'Ubuntu', sans-serif;
  margin-left: 30px
}


.headright{
  float: right;
  margin-top: 25px;
  margin-left: 80px;
  /*font: 'Oswald', sans-serif;*/
}

.headright span{
  margin-left: 25px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}




/* Middle Text*/

section{
  width: 65%;
  float: left;
}

.blockquote{
  font: 'Oswald', sans-serif;
}

.p1{
margin-top: 40px;
text-align: left;
}

.middletext{
  margin-left: 100px;
  margin-right: 200px;
}

/* Middle pics*/

.aside{
  width: 35%;
  float: right;
}

.paddlechick{
  float: right;
  margin-right: 225px;
}














