
/*header stuff. Text and the background*/

* {
 box-sizing: border-box;
 /*border: 1px solid black;*/
}

.container{
  width: 1439px;
}

header{
	position: static;
	width: auto;
	height: 572px;
	background-image: url("images/header.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-align: center;
  margin-bottom: -38px;
  margin-right: 0px;
  margin-top: 190px;
  font-size: 110px;
}

.div3{
  padding-top: 30px
}

h3{
	text-align: center;
	color: #052E47;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 19px;
  margin-left: -30px;
  padding-top: 15;
}


/*pictures!*/


.logopic{
	float:left;
	margin-left: 110px;
	margin-top: -10px;
}

.searchiconpic{
	float: right;
	margin-right: 150px;
	margin-top: 8px;
}

.tspan{
  height: 50px;
  margin-top: 10px;
  margin-left: 25px;
}

.about{
  text-align: right;
  font: 'Oswald', sans-serif;
}

.search{
  font: 'Oswald', sans-serif;
}

.headleft{
  float: left;
  margin-top: 25px;
}


.headleft span{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  margin-left: 30px
}


.headright{
  float: right;
  margin-top: 25px;
  margin-left: 80px;
  /*font: 'Oswald', sans-serif;*/
}

.headright span{
  margin-left: 25px;
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
}

/*end of header stuff*/

/*all encompassing middle space format*/

.midder{
  height: 1024px;
  clear: both;
}


/* Middle Text*/

section{
  width: 65%;
  float: left;
}

h2{
 font-family: 'Oswald', sans-serif;
  color: #083452;
  font-size: 78px;
}


.smallname{
  display: inline;
}

.lilanne{
  display: inline-block;
}

.blockquote{
  font: 'Oswald', sans-serif;
}

.p1{
margin-top: 40px;
text-align: left;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
color: #545F66;
line-height: 30px;
font-weight: 600;
}

.p2{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #545F66;
  line-height: 30px;
  font-weight: 600;
}


.border{
  border-left: 2px solid #CBCBCB;
  height: 44px;
}

.woah{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #0062AD;
}

.p3{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #545F66;
  line-height: 30px;
  font-weight: 600;
}

.p4{
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #545F66;
  line-height: 30px;
  font-weight: 600;
  padding-bottom: 15px;
}

.annebig{
  font: 'Open Sans', sans-serif;
  font-size: 29px;
  color: #0D6BB2;
  text-align: center;
}


.twit{
  font-family: "Open Sans", sans-serif;
  font-size:  15px;
  border-right: 1px solid gray;
  color:  #98AAB7;
  padding-right: 10;
}

.inst{
  font-family: "Open Sans", sans-serif;
  font-size:  15px;
  color:  #98AAB7;
  padding-left: 10;
}

.face{
  font-family: "Open Sans", sans-serif;
  font-size:  15px;
  color:  #98AAB7;
  padding-right: 10;
  border-right: 1px solid gray;
  padding-left: 10px;
}

.comment{
  background-color: #5E686F;

}

.share{
  background-color: #5E686F;
}

.upload{
  background-color: #5E686F;
}


.middletext{
  margin-left: 100px;
  margin-right: 200px;
}

/*middle-right text below surferchick*/

h5{
 font-size: 21px;
  text-align: left;
  color: #083452;
  padding-top: 1px;
  margin-top: 50px;
  font-family: 'Oswald' sans-serif;
  margin-left: -2px;
}

.sidetext{
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #AFBDC8;
  margin-right: 190px;
  line-height: 30px;

}



/* Middle pics*/

aside{
  clear: both;
  width: 35%;
  height: 500px;
  float: right;
}

.annesmall{
  height: 30px;
}

.paddlechick{
  float: left;
  margin-right: 150px;
  margin-top: 20px;
}


.imgtext{
  text-align: right;
  width: 283px;
  margin-right: 40px;
}

.ata{
  text-align: right;
  color: #AAB9C4;
  margin-right: 5;
}

.topaside {
  margin: 0 auto;
  height: auto;
}

.avatar1 {
  margin-left: 31%;
  margin-top: 135px;
}




/*MOST POPULAR POSTS*/

.poppost{
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  color: #083452;
  text-align: center;
  margin-top: 200px;
}

.bcont{
    display: block;
    float: left;
    width: 100%;
    /*position: absolute;*/
}
.btm-caps{
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: #083452 ;
    position: absolute;
    left: 15;
    bottom: 7;
}


.pics{
    width: 25%;
    height: auto;
    display: inline-block;
    position: relative;
    float: left;
}
.pics::after{
    background-color: #106DB3 ;
    position: absolute;
    opacity: .4;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content:"";
}


.btmpic{
  width: 100%;
}

.pics:hover .btm-caps{
    color: white;
}
.pics:hover::after{
    background-color: #106DB3 ;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content:"";
}


/*footer stuff*/


footer{
  clear: both;
  height: 108;
  background-color: #083452;
  padding-top: 0;
  margin-top: 0;
}

.yard{
   margin-top: 30;
  margin-left: 180px;
}

.tiy{
color: #AEBCC6;
font-weight: 300;
font-size: 14px;
}


.tiy span{
  margin-top:15px
}

.tiys{
  margin-top: -21px;
  margin-left: 240px;
}

.nav{
  text-decoration: none;
  color: white;
  margin-left: 660px;
  margin-top: -13;
}


.no1{
  color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 14px;
  border-right: 1px solid #53616B;
  padding-right: 5px;
}

.no2{
   color: white;
  text-decoration: none;
  font-weight: 200;
  font-size: 14px;
  border-right: 1px solid #53616B;
  padding-right: 5px;
}


